@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");

:root {
    --bread-light: #f5debd;
    --bread-medium: #e8bf9c;
    --bread-medium-alt: #f3c8a3;
    --bread-dark: #e4cdab;
    --bread-darker: #d4aa87;
    --bread-gradient-light: #e8bb94;
    --bread-gradient-dark: #daae88;

    /* lettuce colors */
    --lettuce-green: #87cc87;

    /* Tomato colors */
    --tomato-red: #ff4949;
    --tomato-dark: #ce4845;

    /* cheese colors */
    --cheese-yellow: #ffe359;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.content {
    width: 300px;
    height: 300px;
    min-width: 300px;
    perspective: 800px;
    position: relative;
}

.content .bread {
    width: 80%;
    height: 80%;
    position: absolute;
    transition: all 0.8s ease;
}

.content .bread:nth-child(1) {
    left: 30px;
    bottom: -5%;
}

.content .bread:nth-child(1) .top{
    background-color: var(--bread-dark);
    box-shadow: inset 0px 0px 0px 5px var(--bread-darker);
}

.content .bread:nth-child(1) .bottom {
    transition: all 1s ease;
    background-image: linear-gradient(60deg, var(--bread-gradient-light) 63%, var(--bread-gradient-dark) 65%);
    box-shadow: 5px 21px 14px 0px rgba(0,0,0,0.1), 2px 6px 6px -3px rgba(0,0,0,0.2), 57px 55px 36px -3px rgba(0,0,0,0.1), 77px 55px 36px -33px rgba(0,0,0,0.05);
}